/**
* Imports
*/
@import '_reset';

/**
* Variables
*/

/**
* Layout
*/

.background {
  background-image: url('/assets/images/mobile/image-host.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/**
* 
*/
