/**
* Imports
*/
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');
@import '_reset';

/**
* Variables
*/

// Fonts
$font-family: 'Chivo', sans-serif;
$font-weight: 300;
$font-size-title__mobile: 26px;
$font-size-body__mobile: 15px;
$line-height-title__mobile: 38px;
$line-height-body__mobile: 25px;

// Colors
$mint-green: #54e6af;
$dark-grey: #2c344b;
$almost-black: #121725;
$white: #ffffff;
$light-grey: #5a668a;
$lilac-grey: #c2cbe5;

/**
* Main
*/

body {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $white;
}

h1 {
  text-transform: uppercase;
  font-size: $font-size-title__mobile;
  line-height: $line-height-title__mobile;
  text-align: center;
  width: 80%;
  justify-self: center;
  .h1-green {
    color: $mint-green;
  }
  @media (min-width: 768px) {
    text-align: start;
    font-size: 48px;
    line-height: 56px;
    justify-self: start;
  }
}

p {
  font-size: $font-size-body__mobile;
  line-height: $line-height-body__mobile;
  text-align: center;
  justify-self: center;
  color: $lilac-grey;
  @media (min-width: 768px) {
    text-align: start;
    font-size: 18px;
    line-height: 28px;
    width: 70%;
    justify-self: start;
  }
}

/**
* Layout
*/

.background {
  background: linear-gradient(rgba(18, 23, 37, 0.8), rgba(18, 23, 37, 0.8)),
    url('/assets/images/mobile/image-host.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  @media (min-width: 768px) {
    background: linear-gradient(($almost-black, $almost-black));
  }
}

.background {
  &-tablet {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      position: absolute;
      z-index: -1;
      left: 100px;
      top: 0px;
    }
  }
  &-desktop {
    // display: none;
    @media (min-width: 1080px) {
      display: flex;
      position: absolute;
      z-index: -2;
      left: 570px;
      top: 130px;
    }
  }
}

.rectangle {
  display: none;
  &-tablet {
    @media (min-width: 768px) {
      display: flex;
      background-color: $almost-black;
    }
  }
  &-desktop {
    @media (min-width: 1080px) {
      display: flex;
      background-color: $almost-black;
      width: 880px;
      height: 530px;
      top: 190px;
      position: absolute;
      z-index: -1;
    }
  }
}

.container {
  margin: 3.5rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 1080px) {
    margin: 3.5rem 9rem;
  }
}

.logo {
  margin: auto auto 3rem;
  @media (min-width: 768px) {
    margin: 1rem 0 10rem;
  }
  @media (min-width: 768px) {
    margin: 0 0 10rem;
  }
}

.logos {
  display: grid;
  grid-auto-flow: column;
  margin: 1rem auto 1rem;
  &_scale {
    height: auto;
    width: 80%;
    justify-self: start;
  }
  @media (min-width: 768px) {
    margin: 1rem 0 1rem;
    grid-row-end: 5;
    justify-content: start;
  }
}

.grid {
  display: grid;
  grid-gap: 16px;
  @media (min-width: 768px) {
    justify-content: start;
    width: 92%;
    grid-gap: 36px;
  }
}

form {
  width: 80%;
  @media (min-width: 768px) {
    width: 50%;
    position: relative;
  }
}

input {
  width: 100%;
  padding: 1rem 2rem;
  background-color: $dark-grey;
  border-style: none;
  border-radius: 28px;
}

input::placeholder {
  font-size: 14px;
  color: $lilac-grey;
  margin-left: 1rem;
  font-weight: 400;
}

form button {
  @media (min-width: 768px) {
    position: absolute;
    top: -18px;
    right: -64px;
  }
}

button {
  justify-self: center;
  background-color: $mint-green;
  border-style: none;
  border-radius: 28px;
  padding: 1rem 0;
  margin-top: 1rem;
  padding: 0.5rem auto;
  width: 85vw;
  cursor: pointer;
  .button-text {
    font-size: 14px;
    font-weight: 400;
  }
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 1080px) {
    width: 50%;
    // font-weight: bold;
  }
}

/**
* 
*/
