/**
* Imports
*/
@import '_reset';

/**
* Variables
*/

/**
* Layout
*/

.background {
  background: linear-gradient(rgba(18, 23, 37, 0.8), rgba(18, 23, 37, 0.8)),
    url('/assets/images/mobile/image-host.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/**
* 
*/
